root = True

[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = space
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{cl,lisp,clj,scm,adscript,carp,dart,yml,yaml,scad,dot}]
tab_width = 2

[*.{htm,html,css,js,ts,py,rs,hs,swift}]
tab_width = 4
