[user]
	email = chrissx@chrissx.de
	name = pixel
	signingkey = E90005837ECF00FF
[commit]
	gpgsign = true
[gpg]
	helper = /usr/local/MacGPG2/bin/gpg
	program = /usr/local/MacGPG2/bin/gpg
[color]
	ui = auto
[init]
	defaultBranch = daddy
[alias]
	hub = !gh
[pull]
	rebase = false
