root = True

[*]
charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = space
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{js,ts,cl,lisp,clj,scm,adscript,carp,dart,yml,yaml,scad,dot}]
tab_width = 2

[*.{htm,html,css,py,rs,hs,swift,go}]
tab_width = 4
